@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vendor/fonts/noto-sans-kr-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./vendor/fonts/noto-sans-kr-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./vendor/fonts/noto-sans-kr-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./vendor/fonts/noto-sans-kr-700.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vendor/fonts/jetbrains-mono-400-latin.woff2') format('woff2');
}

/* @font-face {
  font-family: 'LINE Seed Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vendor/fonts/LINESeedKR-Th.woff2') format('woff2');
}

@font-face {
  font-family: 'LINE Seed Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./vendor/fonts/LINESeedKR-Rg.woff2') format('woff2');
}

@font-face {
  font-family: 'LINE Seed Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./vendor/fonts/LINESeedKR-Bd.woff2') format('woff2');
} */